In [1]:
import pandas as pd

In [2]:
train_df = pd.read_csv('train.csv')

In [3]:
train_df.head()

   session      aid             ts    type
0        0  1517085  1659304800025  clicks
1        0  1563459  1659304904511  clicks
2        0  1309446  1659367439426  clicks
3        0    16246  1659367719997  clicks
4        0  1781822  1659367871344  clicks

In [5]:
train_df.shape

(216716096, 4)